.accordion__title {
  @media (max-width: $mobile-width-max) {
    position: relative;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:before {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      right: 2px;
      background-image: url("../img/plus-icon.svg");
      background-repeat: no-repeat;
    }
  }
}

.accordion--opened .accordion__title:before {
  @media (max-width: $mobile-width-max) {
    height: 1px;
    top: 7px;
    background-image: url("../img/minus-icon.svg");
  }
}

.accordion__content {
  @media (max-width: $mobile-width-max) {
    display: none;
  }
}

.accordion--opened .accordion__content {
  @media (max-width: $mobile-width-max) {
    display: block;
  }
}

// .page-footer__menu { // Временно
//   @media (max-width: $mobile-width-max) {
//     display: none;
//   }
// }
