.advantages {
  @include container();
  margin-top: 112px;
  padding-left: calc-external-padding($desktop-external-paddings-wide);
  padding-right: calc-external-padding($desktop-external-paddings-wide);

  @media (max-width: $desktop-width-max) and  (min-width: $desktop-width-min){
    padding-left: $desktop-external-paddings-wide;
    padding-right: $desktop-external-paddings-wide;
  }

  @media (max-width: $tablet-width-max) {
    margin-top: 54px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 37px;
  }
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  width: 48.718%;
  min-height: 300px;
  margin-bottom: 30px;

  @media (max-width: $tablet-width-max) {
    width: 47.917%;
    min-height: 232px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-bottom: 20px;
  }
}
