.catalog {
  @include container;
  padding-left: calc-external-padding($desktop-external-paddings-wide);
  padding-right: calc-external-padding($desktop-external-paddings-wide);
  padding-top: 89px;
  padding-bottom: 97px;
  background-color: $brand-color-dark;
  color: $white;

  @media (max-width: $desktop-width-max) and  (min-width: $desktop-width-min) {
    padding-left: $desktop-external-paddings-wide;
    padding-right: $desktop-external-paddings-wide;
  }

  @media (max-width: $tablet-width-max) {
    padding-top: 50px;
    padding-bottom: 32px;
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 34px;
  }
}

.catalog__text {
  margin: 0;
  margin-bottom: 51px;
  font-family: $title-font-family;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 49px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width-max) {
    margin-left: 10px;
    margin-bottom: 42px;
    font-size: 28px;
    line-height: 39px;
  }
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  width: 31.624%;
  min-height: 620px;
  margin-right: 2.564%;
  margin-bottom: 30px;

  @media (max-width: $tablet-width-max) {
    width: 100%;
    min-height: 256px;
    margin-right: 0;
    margin-bottom: 46px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 30px;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
}
