.contacts {
  font-style: normal;

  @media (max-width: $mobile-width-max) {
    margin-top: 32px;
  }
}

.contacts__item {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;

  @media (max-width: $desktop-width-max - 200px) {
    font-size: 13px;
  }

  @media (max-width: $tablet-width-max) {
    font-size: 15px;
  }
}
