.modal-form input,
.modal-form textarea {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 11px;
  padding-bottom: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  line-height: 22px;
  color: $white;

  &::placeholder {
    font-size: 16px;
    line-height: 22px;
    color: $white;
  }

  &::selection {
    background-color: gray;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 3px $brand-color-dark;
  }
}

.modal-form input[type="text"],
.modal-form input[type="tel"] {
  width: 100%;
  height: 51px;
  margin-bottom: 31px;
}

.modal-form textarea {
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  margin-bottom: 24px;
}

.modal-form button {
  width: 100%;
  margin-bottom: 36px;
  padding-left: 18px;
  padding-right: 19px;
  padding-top: 15px;
  padding-bottom: 13px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  font-family: $title-font-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.modal-form input[type="checkbox"] {
  display: inline-block;
  appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 24px;
  padding: 0;
  border: 1px solid $white;
  vertical-align: top;
  background-color: transparent;
  color: $white;
  cursor: pointer;

  &:checked {
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-size: 9px 6px;
    background-position: center;
  }

  &:hover,
  &:focus {
    box-shadow: none;
    opacity: 0.7;
  }
}

.modal-form input[type="checkbox"] + label {
  display: inline-block;
  width: 340px;
  margin-top: -1px;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
  cursor: pointer;
}
