.page-header {
  @include container();
  display: flex;
  align-items: flex-start;
  padding-top: 33px;
  position: absolute;
  top: 0;
  left: 0;

  @media (max-width: $tablet-width-max) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 17px;
  }
}

.page-header__logo {
  margin-right: 30px;
}

.page-header__contacts {
  margin-left: auto;
}

.page-header__feedback-button {
  margin-left: 49px;
  margin-right: 3px;
  margin-top: 4px;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
