.page-footer {
  margin-top: 2872px;
  color: $footer-text-color;

  @media (max-width: $tablet-width-max) {
    margin-top: 2904px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 3537px;
  }
}

.page-footer__top-row {
  @include container();
  display: flex;
  align-items: flex-start;
  padding-top: 65px;
  padding-bottom: 57px;

  @media (max-width: $tablet-width-max) {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 36px;
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 0;
  }
}

.page-footer__col-1 {
  margin-right: 30px;

  @media (max-width: $tablet-width-max) {
    display: flex;
    width: 100%;
    margin-right: 0;
    margin-bottom: 38px;
    padding-left: $tablet-external-paddings;
    padding-right: $tablet-external-paddings;
    padding-top: 19px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-left: $mobile-external-paddings;
    padding-right: $mobile-external-paddings;
    padding-top: 46px;
    padding-bottom: 44px;
  }
}

.page-footer__logo {
  margin-bottom: 52px;

  @media (max-width: $tablet-width-max) {
    margin-left: 1px;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width-max) {
    margin-left: auto;
    margin-right: auto;
  }
}

.page-footer__legal-name {
  display: none;

  @media (max-width: $tablet-width-max) {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: 58px;
    margin-top: 17px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    opacity: 0.5;
  }

  @media (max-width: $mobile-width-max) {
    margin-right: auto;
    margin-top: 26px;
  }
}

.page-footer__socials {
  margin-left: -1px;

  @media (max-width: $tablet-width-max) {
    margin-left: 0;
  }

  @media (max-width: $mobile-width-max) {
    margin-left: -15px;
    margin-top: 20px;
  }
}

.page-footer__col-2 {
  margin-left: auto;
  margin-right: 77px;

  @media (max-width: $desktop-width-max - 100px) {
    margin-right: auto;
  }

  @media (max-width: $tablet-width-max) {
    margin: 0;
    padding-left: $tablet-external-paddings;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    padding-left: $mobile-external-paddings;
    padding-right: $mobile-external-paddings;
    padding-top: 29px;
    padding-bottom: 27px;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }
}

.page-footer__col-3 {
  margin-left: 30px;
  margin-right: 2px;

  @media (max-width: $tablet-width-max) {
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 0;
    padding-right: $tablet-external-paddings;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    padding-left: $mobile-external-paddings;
    padding-right: $mobile-external-paddings;
    padding-top: 28px;
    padding-bottom: 26px;
  }
}

.page-footer__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: $title-font-family;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $tablet-width-max) {
    margin-left: 2px;
  }

  @media (max-width: $mobile-width-max) {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.page-footer__contacts {
  @media (max-width: $tablet-width-max) {
    width: 346px;
  }

  @media (max-width: $mobile-width-max) {
    width: 230px;
  }
}

.page-footer__bottom-row {
  @include container();
  width: 100%;
  border-top: 1px solid rgba(98, 105, 98, 0.2);
}
