// Сброс стилей у списков
@mixin list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Полное визуальное скрытие элемента
@mixin visually-hidden() {
  position: absolute;
  z-index: -1;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: none;

  clip: rect(0 0 0 0);
}

// Центровщик
@mixin container() {
  width: 100%;
  padding-left: calc-external-padding($desktop-external-paddings);
  padding-right: calc-external-padding($desktop-external-paddings);

  @media (max-width: $desktop-width-max) {
    padding-left: $desktop-external-paddings;
    padding-right: $desktop-external-paddings;
  }

  @media (max-width: $tablet-width-max) {
    padding-left: $tablet-external-paddings;
    padding-right: $tablet-external-paddings;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: $mobile-external-paddings;
    padding-right: $mobile-external-paddings;
  }
}
