*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  min-width: $mobile-width-min;
  height: 100%;

  font-family: $text-font-family;
  font-size: $text-font-size;
  font-weight: 400;
  line-height: $text-line-height;
  color: $text-color;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
