// Breakpoints
$desktop-width-max: 1500px;
$desktop-width-min: 1024px;
$tablet-width-max: 1023px;
$tablet-width-min: 768px;
$mobile-width-max: 767px;
$mobile-width-min: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//Font
$title-font-family: "Roboto Condensed", "Arial", sans-serif;
$text-font-family: "PT Mono", "Arial", sans-serif;

$text-font-size: 16px;

$text-line-height: 22px;

//Colors
$white: #fff;

$brand-color: #00b2ff;
$brand-color-dark: #1B2D37;

$text-color: #666;
$footer-text-color: $brand-color-dark;

//Sizes
$desktop-external-paddings: 43px;
$desktop-external-paddings-wide: 165px;
$tablet-external-paddings: 24px;
$mobile-external-paddings: 15px;
